#main-page{
  background-color: azure;
  display: grid;
	place-items: center
}
#multipleOptions{
  display: table 
}
#multipleOptions input{
  display: table-cell
}
table {
  width: 40%;
  text-align: center;
}
.final-value {
  display: table-cell;
  width: 500px;
}
#submitFinalForm{
  position: fixed;
  top: 5%;
  right: 5%;
  width: 100px;
  height: 100px;
  background-color: rgb(57, 164, 80);
  border-radius: 50%;
}