#main-page{
  background-color: azure;
  display: grid;
	place-items: center
}
table {
  width: 100%;
  text-align: center;
  border: 1px solid black;
  background-color: black;
  color: white;
}
table td {
  border: 1px solid white;
  white-space: nowrap;
}
table th {
  border: 1px solid white;
  white-space: nowrap;
}
